.write-container {
    max-width: 800px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
    
  .write-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: darkgreen;
    text-align: center;
  }
  
  .write-form {
    display: flex;
    flex-direction: column;
  }
  
  .write-form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
  }
  
  input,
  textarea {
    padding: 12px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s;
    font-family: 'Noto Sans', sans-serif;
  }
  
  input:focus,
  textarea:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  .write-submit-button {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .write-submit-button:hover {
    background-color: #45a049;
  }
  
  .register-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7); 
    width: 100%;
    height: 100%;
  }
  
  .modal-content {
    background-color: #fefefe; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
    position: relative;
  }
  
  .close {
    color: #aaa;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  animation: fadeIn 0.3s;
}